@charset "utf-8";

/* ========== 共通設定 ========== */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #888;
}
img {
    vertical-align: bottom;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
body {
    font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
    color: #444;
}
#wrap {
    width: 800px;
    margin: 0 auto;
}

/* ================ ヘッダー ================== */
header {
    position: relative;
    margin-bottom: 10px;
    height: 40px;
}
header .newBlog {
    position: absolute;
    top: 6px;
    left: 140px;
}
header h1 {
    font-size: 1.5em;
}
header .notice {
    position: absolute;
    left: 300px;
    bottom: 10px;
    color: lightgreen;
}


/* ========== manageBlog.php =========== */
.manageBlog .id {
    float: right;
    display: none;
}
.manageBlog .trash {
    float: right;
}
.manageBlog .trash button {
    background: inherit;
    border: none;
    cursor: pointer;
}
.manageBlog .date {
    float: right;
    font-size: 0.8em;
}
.manageBlog .category,
.manageBlog .tag {
    float: left;
    font-size: 0.8em;
}
.manageBlog .category {
    margin-right: 10px;
}
.manageBlog:nth-child(odd) {
    background-color: #e4d8e8;
}
.manageBlog:nth-child(even) {
    background-color: beige;
}
.manageBlog {
    padding: 5px;
}

/* ============== showBlog.php ================ */
.single-page {
    width: 610px;
}
.single-page h3 {
    font-size: 1em;
    font-weight: normal;
}
.single-page h1 {
    width: 600px;
    font-size: 1.2em;
    border-left: solid 10px #aaa;
    padding-left: 10px;
    margin-bottom: 5px;
}
.single-page .body {
    width: 600px;
    height: 400px;
    border: solid 1px #aaa;
    margin-bottom: 5px;
}
.single-page .date {
    float: right;
}
.single-page .id {
    float: right;
    display: none;
}
.single-page .editThis {
    float: right;
}
.single-page .editThis button {
    background: none;
    border: none;
    cursor: pointer;
}
.single-page .editThis button:hover img {
    opacity: 0.7;
    width: 120%;
}


/* ================== inputBlog.php ================== */
.inputBlog-h1 {
    font-size: 1em;
}
.inputBlog-h1:before {
    content: "---// ";
}
.inputBlog-h1:after {
    content: " //---";
}
#form-title {
    width: 600px;
}
#form-body {
    width: 600px;
    height: 400px;
}
#form-category {
    width: 200px;
}
#form-tag {
    width: 400px;
}
#form-submit {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}
#form-cancel {
    display: inline-block;
}
#form-cancel button {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* ======================= findBlog.php ==================== */
.findword {
    float: left;
    margin-left: 2px;
}
.findBlog {
    position: absolute;
    top: 10px;
    right: 10px;
}
.findBlog input[type="text"] {
    height: 25px;
    width: 200px;
    display: block;
}
