@charset "utf-8";

/* ===== 共通設定 ===== */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #888;
}
img {
    vertical-align: bottom;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
body {
    font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
    color: #444;
}
#wrap {
    margin: 5px;
}

/* ===== ヘッダー ----- */
header {
    position: relative;
    margin-bottom: 5px;
}
header .newBlog {
    position: absolute;
    top: 5px;
    left: 80px;
}
header h1 {
    font-size: 1.2em;
    line-height: 45px;
    background-color: pink;
    width: 76px;
    text-align: center;
}
#findBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}
#findBtn img {
    width: 35px;
}
header .notice {
    position: absolute;
    left: 150px;
    top: 5px;
    color: lightgreen;
    font-size: 0.8em;
}



/* ===== notice ===== */
/* .notice .message {
   float: right;
   color: lightgreen;
   font-size: 0.8em;
   } */


/* ===== manageBlog.php ===== */
.manageBlog .id {
    float: right;
    font-size: 0.8em;
    display: none;
}
.manageBlog .trash {
    /* float: right; */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.manageBlog .trash button {
    background: inherit;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
}
.manageBlog .date {
    float: right;
    font-size: 0.8em;
}
.manageBlog .category,
.manageBlog .tag {
    float: left;
    font-size: 0.8em;
}
.manageBlog .category {
    margin-right: 10px;
}
.manageBlog:nth-child(odd) {
    background-color: #e4d8e8;
}
.manageBlog:nth-child(even) {
    background-color: beige;
}
.manageBlog {
    position: relative;
}
.manageBlog h1 {
    font-size: 1em;
}
.manageBlog .upper {
    height: 45px;
}
.manageBlog a {
    display: block;
    padding: 5px;
}

/* ===== showBlog.php ===== */
.single-page h1 {
    font-size: 1.2em;
    border-left: solid 10px #aaa;
    padding-left: 10px;
    margin-bottom: 5px;
}
.single-page .body {
    height: 200px;
    border: solid 1px #aaa;
    margin-bottom: 5px;
    padding: 5px;
}
.single-page .date {
    float: right;
    font-size: 0.8em;
}
.single-page .id {
    float: right;
    font-size: 0.8em;
    display: none;
}
.single-page .editThis {
    float: right;
}
.single-page .editThis button {
    background: none;
    border: none;
    cursor: pointer;
}
.single-page .editThis button:hover img {
    opacity: 0.7;
    width: 120%;
}

/* ===== inputBlog.php ===== */
.inputBlog-h1 {
    font-size: 1em;
}
.inputBlog-h1:before {
    content: "---// ";
}
.inputBlog-h1:after {
    content: " //---";
}
#form-title {
    width: 100%;
}
#form-body {
    width: 100%;
    height: 200px;
}
#form-category {
    width: 100%;
}
#form-tag {
    width: 100%;
}
#form-submit {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    border: solid 1px #aaa;
}
#form-cancel {
    display: inline-block;
}
#form-cancel button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: solid 1px #aaa;
}

/* ===== editBlog.php ===== */
.editBlog-h1 {
    font-size: 1em;
}
.editBlog-h1:before {
    content: "---// ";
}
.editBlog-h1:after {
    content: " //---";
}

/* ===== findBlog.php ===== */
.findword {
    float: left;
    margin-left: 2px;
}
.findword input[type="text"] {
    height: 45px;
    width: 150px;
}
#findOf,
.findword input[type="submit"] {
    font-size: 0.8em;
    height: 45px;
}
.findword input[type="submit"] {
    width: 45px;
}

