@charset "utf-8";

/* ===== 共通設定 ===== */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #888;
}
img {
    vertical-align: bottom;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
body {
    font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
    color: #444;
}
#wrap {
    margin: 5px;
}

header h1 {
    font-size: 1.2em;
}

/* ===== manageBlog.php ===== */
.manageBlog .id {
    float: right;
    font-size: 0.8em;
}
.manageBlog .date {
    float: right;
    font-size: 0.8em;
}
.manageBlog .category,
.manageBlog .tag {
    float: left;
    font-size: 0.8em;
}
.manageBlog .category {
    margin-right: 10px;
}
.manageBlog:nth-child(odd) {
    background-color: #e4d8e8;
}
.manageBlog:nth-child(even) {
    background-color: beige;
}
.manageBlog {
    padding: 5px;
}
.manageBlog h1 {
    font-size: 1em;
}

/* ===== showBlog.php ===== */
.single-page h1 {
    font-size: 1.2em;
    border-left: solid 10px #aaa;
    padding-left: 10px;
    margin-bottom: 5px;
}
.single-page .body {
    height: 200px;
    border: solid 1px #aaa;
    margin-bottom: 5px;
    padding: 5px;
}
.single-page .date {
    float: right;
    font-size: 0.8em;
}
.single-page .id {
    float: right;
    font-size: 0.8em;
}

/* ===== inputBlog.php ===== */
.inputBlog-h1 {
    font-size: 1em;
}
.inputBlog-h1:before {
    content: "---// ";
}
.inputBlog-h1:after {
    content: " //---";
}
#form-title {
    width: 100%;
}
#form-body {
    width: 100%;
    height: 200px;
}
#form-category {
    width: 100%;
}
#form-tag {
    width: 100%;
}
#form-submit {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    border: solid 1px #aaa;
}
#form-cancel {
    display: inline-block;
}
#form-cancel button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: solid 1px #aaa;
}

    
